.deleteButton {
  text-align: center;
  cursor: pointer;
  padding: 0;
}
.deleteButton:hover {
  background-color: #eeeeee;
}

.participants {
  margin-bottom: 15px;
}

.dotRed {
  height: 12px;
  width: 12px;
  background-color: #ff3535;
  border-radius: 50%;
  display: inline-block;
}

.dotGreen {
  height: 12px;
  width: 12px;
  background-color: #67922f;
  border-radius: 50%;
  display: inline-block;
}

.payoutBanner {
  background-color: #ffdede;
  padding: 20px;
}

.closeIcon {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 30px;
  margin-top: -5px;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.double-multiplier {
  font-weight: bold !important;
  /* animation: color-change 0.3s infinite; */
  animation: color-change 0.5s linear 0s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }
  100% {
    color: #eeeeee;
  }
}

@keyframes ants { to { background-position: 100% 100% } }

.dealer {
	border: 1px solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 12s linear infinite;
}
